body {
	min-width: 400px;
	display: flex;
	flex-direction: column;
	height: 100vh;
	margin: 0;
	height: -wedkit-fill-available;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: linear-gradient(
		90deg,
		rgb(147, 132, 245) 0%,
		rgba(100, 115, 255, 1) 100%
	);
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

h1 {
	margin: 32px 0;
	color: #fff;
	font-size: 24px;
}

.App-input::placeholder {
	color: #e2e2e2;
}

.Add {
	background-color: rgb(65, 239, 65);
	font-size: 18px;
}

.list-item {
	padding: 0.5rem;
	border: 2px solid black;
	border-radius: 0.5rem;
	margin: 0.75rem;
	background-color: rgb(166, 156, 232);
	box-shadow: 2px;
	margin-left: 2.5rem;
	margin-right: 2.5rem;
	padding-inline-start: 0;
	list-style: none;
	justify-content: space-between;
}

.item-container {
	display: flex;
	justify-content: space-between;
	padding: 0.5rem;
	border: 2px solid black;
	box-shadow: 2px 2px 6px rgba(210, 210, 250, 255, 0.5);
}

.item-buttons {
	display: flex;
	justify-content: space-between;
	list-style: none;
	text-align: left;
	margin-left: 2rem;
}

li:hover {
	padding: 0.5rem;
	box-shadow: 2px 2px 6px rgba(210, 210, 250, 255, 0.8);
	background-color: transparent;
	border-radius: 0.5rem;
	margin: 0.5rem;
}

.App {
	display: flex;
	flex-direction: column;
	justify-content: start;
	width: 520px;
	min-height: 600px;
	background: rgba(100, 115, 255, 1);
	text-align: center;
	margin: 128px auto;
	border-radius: 10px;
	padding-bottom: 32px;
	text-overflow: none;
	cursor: pointer;
	text-overflow: ellipsis;
	overflow: hidden;
	overflow: auto;
}

form input,
form select,
form textarea,
form label,
.form input {
	font-family: inherit;
	font-size: 10px;
	color: inherit;
	border: none;
	border-radius: 3%;
	display: center;
	width: 30%;
	padding: 0;
	margin: 0;
}

.btn-btn-right {
	background-color: lightskyblue;
	border-radius: 15%;
	box-sizing: border-box;
	font-weight: 600;
	margin-left: 2px;
}

.btn-btn-middle {
	background-color: lightskyblue;
	border-radius: 15%;
	box-sizing: border-box;
	font-weight: 600;
	margin-left: 2px;
}

form input,
form textarea,
.StripeElement {
	box-sizing: border-box;
	border: 2px solid rgba(65, 34, 238, 0.2);
	background-color: rgba(255, 255, 255, 0.9);
	padding: 0.3rem 1rem;
	margin-bottom: 1.5rem;
}

form [type='text'] {
	width: 30%;
	justify-content: center;
	text-overflow: ellipsis;
	overflow: hidden;
	overflow: auto;
}

.quantity {
	font-size: 10px;
}

form select {
	text-transform: none;
}
@media (max-width: 702px) {
	h1 {
		margin-bottom: 16px;
	}

	@media (max-width: 476px) {
		html,
		form,
		body {
			font-size: 10px;
		}
	}
}
